body {
    background-color: rgb(255, 131, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*transition: 0.5s ease-in-out;  satisfying transition from red to green when won */
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Timer */
.container {
    position: relative;
    text-align: center;
} 

#timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}



/* Wrapper for the two frames */
.frameWrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Frame for description */
.descDiv {
    position: relative;
    text-align: center;
    margin-right: 20px;
}

.desc {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
}

.title {
    font-size: 20px;
}

/* Character style */
#chara {
    width: 35px;
    position: absolute;
}



/* Game Over screen and inner text */
#overlay {
    position: fixed;
    top: 65px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 530px;
    border-radius: 5px;
    align-content: center;
    background-color: rgba(74, 37, 37, 0.887); /* Semi-transparent background */
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's on top */
}
  
.gameOver {
    text-align: center;
    color: white;
    font-size: 40px;
}

.finalTime {
    text-align: center;
    color: white;
    font-size: 40px;
}

#overlay-content {
    display: flex;
    justify-content: center;
}

#timeText {
    text-align: center;
    color: white;
    font-size: 40px;
}

button {
    background-color: rgb(154, 0, 0);
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}



/* Health bar style */
#health-bar {
    position: fixed;
    left: 50%;
    background-color: beige;
    border: solid;
    border-width: 4px;
}

.heart {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    margin: 5px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
  
.heart.empty {
    background-color: gray;
}
