body {
    margin:0px;
    width: 100vw;
    height: 100vh;
}

.details1,
.details3,
.details2,
.details4 {
    display: inline-block;
}

.details1 {
    margin-right: 60px;
}

.details2 {
    margin-right: 60px;
}

.details3 {
    margin-right: 60px;
}